.welcome{
    background-color: #eee;
    font-weight: bold;
    color: black;
    text-align: center;
}

.parent{
    background-color: red;
    text-align: center;
    display: block;
    
}

.parent .one{
    background-color: gray;
    
}

.container .grid{
    background-color: #eee;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-gap: 30px;
    margin-top: 80px;
}

.container .grid .columen{
    max-width: 350px;
    padding-right: 35px;
}